body {
    color: black;
}

.TableWrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.LanguageBar {
  margin: 15px;
}

.ApplyIcon {
  cursor: pointer;
}

table {
    font-size: 18px;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

thead {
    font-size: 30px;
}


table tr {
    border-bottom: 1px solid lightgray;
}

table tr td {
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;   
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
  }
  
  table tr {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    padding: 20px;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}